extends layout

block content
	.jumbotron
		.container
			h1 Recipe Book
			p Dolore ullamco quis exercitation anim esse esse voluptate ut quis sunt pariatur laborum magna aliquip proident amet non minim elit dolor culpa.
	.container
		.well 
			h4 Mushrooms Pork Chops
			button
				a View

	.container
		.well
			h4 Real Italian Calzones
			button 
				a View
