body {
  padding-top: 50px;
 
}

a {
  color: #00B7FF;
}

.jumbotron{
	text-align: center;
}
.button{
	margin-left: 250px;
	float: right;
}

footer{
	background-color: #f4f4f4;
	height: 40px;
	text-align: center;
	margin-top: 30px;
	padding-top: 10px;
	overflow: auto;
}
